priority -50

snippet rtc "RTC WorkItem" bA
[RTC1-${1:ID}](https://rb-alm-20-p.de.bosch.com/ccm/web/projects/STLA_Brain_WP2#action=com.ibm.team.workitem.viewWorkItem&id=$1)
endsnippet

snippet gerrit "Gerrit Review" bA
[Gerrit Review ${1:ID}](https://rbcm-gerrit.de.bosch.com/q/$1)
endsnippet
